<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header.multiple', count: task.errors.count) %></h2>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>
  <div>
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.map { |k| [k, k] }, { include_blank: '選択してください' } %>
  </div>
  <div>
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.map { |k| [k, k] }, { include_blank: '選択してください' } %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
